<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="LOG_PATTERN_WITH_MDC" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId}] - %msg%n"/>

    <!-- 콘솔 출력 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_WITH_MDC}</pattern>
        </encoder>
    </appender>

    <!-- 전체 로그 INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 특정 패키지 INFO -->
    <logger name="com.hhplusecommerce" level="INFO"/>

    <!-- Hibernate SQL 쿼리 로그 경고 이상만 -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type" level="WARN"/>

    <!-- Kafka 네트워크 관련 로그 ERROR로 제한 -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="org.springframework.kafka" level="ERROR"/>

</configuration>
