<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console appender to print logs to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Setting root log level to INFO to reduce log verbosity -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Setting specific logger for your package (com.hhplusecommerce) to INFO level -->
    <logger name="com.hhplusecommerce" level="DEBUG"/>

    <!-- Hibernate SQL logging set to WARN to avoid excessive logging of SQL queries -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type" level="WARN"/>

</configuration>
